.main-container {
  display: flex;
}

.right-col {
  margin-top: 100px;
  background-color: rgba($color: $white-color, $alpha: 0.8);
  box-shadow: 2px 0px 5px lightgray;
}

.left-col {
  background-color: $red-color;
  color: $white-color;
  h1 {
    color: $white-color;
  }
}

.navigator {
  display: flex;
  flex-wrap: wrap;
  // position: sticky;
  // margin: 40px 0px 20px 0px;
  // width: 100%;
  // display: flex;
  justify-content: center;
  .nav-item {
    list-style: none;
    color: $red-color !important;
    padding: 5px;
    background-color: $white-color;
    text-decoration: none;
    border-radius: 50rem;
    font-size: small;
    margin: 1px;
  }
  .nav-item:hover {
    animation: rubberBand 1s;
  }
  .nav-item:active {
    animation: rubberBand 1s;
    background-color: $warning-color;
  }
}
@media (min-width: 768px) {
  .main-container {
    padding: 0px 50px 0px 50px;
    height: 100vh;
  }
  .right-col {
    overflow-x: auto;
    height: 100vh;
  }
}
@media (max-width: 767px) {
  .right-col {
    overflow: hidden;
    height: auto;
  }
}

.header-subtitle {
  font-size: xx-large;
}

.footer {
  position: relative;
  bottom: 0px;
}
