.progress-wrapper {
  display: flex;
  flex-direction: column;
  .progress-item {
    margin: 5px 0px;
    .progress-title-wrapper {
      display: flex;
      justify-content: space-between;
      .progress-title {
        font-size: 1.3rem;
        font-weight: bold;
      }
      %badge-style {
        font-size: 0.8rem;
        border-radius: 3px;
        background-color: $warning-color;
        padding: 2px;
        margin: 0px 2px;
        font-weight: bold;
        &::before {
          content: "";
          position: relative;
          left: -2px;
          bottom: -22px;
          border-top: 6px solid $warning-color;
          border-right: 8px solid transparent;
        }
      }
      .progress-subtitle {
        @extend %badge-style;
      }
      .progress-percent-badge {
        @extend %badge-style;
      }
    }
    .progress {
      height: 6px;
      box-shadow: 2px 2px 2px $gray-color;
    }
  }
}
